@keyframes ldio-t46r90cp1er {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}

#spinner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    margin: 60px 0;
}

.ldio-t46r90cp1er div {
    position: absolute;
    animation: ldio-t46r90cp1er 0.61s linear infinite;
    width: 97.2px;
    height: 97.2px;
    top: 72.9px;
    left: 72.9px;
    border-radius: 50%;
    box-shadow: 0 4.131000000000001px 0 0 #e15b64;
    transform-origin: 48.6px 50.66550000000001px;
}

.loadingio-spinner-eclipse-gz12z8qjgq4 {
    width: 243px;
    height: 243px;
    display: inline-block;
    overflow: hidden;
    background: inherit;
}

.ldio-t46r90cp1er {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; 
}

.ldio-t46r90cp1er div { box-sizing: content-box; }

