#additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    padding: 20px 30px;
    margin: 0 40px;
    border-radius: 8px;
    margin-bottom: 16px;

    h4 {
        color: rgba($color: #222, $alpha: 0.4);
        font-weight: 400;

        i {
            color: #3C2317;
            padding: 0 10px;
        }
    }
}